<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="#" class="cart_ad">
                <div class="col-md-1 cart_ad_img">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/credit/img13/PLCC/HUC-VC/plcc-5perback_cart._CB363876589_.png">
                </div>
                <div class="col-md-10 cart_ad_text"><span style="color: black" class="text-capitalize">{{user.firstName}}</span>, you are earning <span>5% Back Every Day</span> with your Gwazoo Prime STORE CARD WOW!!!! </div>
                <div class="col-md-1 cart_ad_details">
                    <img class="cart_ad_details" src="https://images-na.ssl-images-amazon.com/images/G/01/credit/img14/x-site/plcc-details-5back_btn._CB317640075_.png">
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <section class="row cart_head">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h3 class="text-capitalize"><strong>shopping cart</strong></h3>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <h5>Price</h5> <!-- MAKE THIS SIT ON THE BASELINE -->
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <h5>Quantity</h5> <!-- MAKE THIS SIT ON THE BASELINE -->
                </div>
            </section> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
            <section class="row cart_items"> <!-- NG-REPEAT(ng-repeat="items in cart") -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="product in cart.products">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <img style="max-height: 50px;" src="{{product.product.images[0].large.url}}"/> <!-- MAYBE MAKE THE HEIGHT STANDARD SO THEY WILL EITHER GO FULL WIDTH OF COLUMN OR MAX-HEIGHT -->
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <div ng-switch="product.product.parentId === undefined">
                                <a ng-switch-default href="/product/{{product.product.name}}/{{product.productId}}"><h5><strong>{{product.product.name}}</strong></h5></a>
                                <a ng-switch-when="false" href="/product/{{product.product.name}}/{{product.product.parentId}}?itemId={{product.productId}}"><h5><strong>{{product.product.name}}</strong></h5></a>
                            </div>
                            <p>{{product.product.shortDescription}}</p>
                            
                            
                            <span><input type="submit" value="Remove" ng-click="remove(product.productId)"></span>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"> <!-- If set on product use it, otherwise use it's parent's attribute -->
                            <h4>
                                <strong class="text-danger">${{product.product.retailPrice}}</strong>
                            </h4>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <form>
                                <div class="form-group">
                                    <label class="sr-only">Quantity</label>
                                    <select class="form-control" name="repeatSelect" id="quantitySelect" ng-model="product.quantity" ng-options="optionVar for optionVar in range(product.product.minQuantity, product.product.maxQuantity) track by optionVar">
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <H4 class="text-right"><strong>Subtotal ({{cartCount}} item(s)): </strong><strong class="text-danger">${{cart.total}}</strong></h4>
                    <button class="btn btn-warning btn-sm text-capitalize pull-right">proceed to checkout</button>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 subTotal_fixed pull-right"> <!-- PUT A BORDER AROUND THIS DIV (WITH BORDER-RADIUS) AND MAKE IT SCROLL WITH THE PAGE -->
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <H4 class="text-center"><strong>Subtotal ({{cartCount}} item(s)): </strong><strong class="text-danger">${{cart.total}}</strong></h4>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn btn-warning btn-md btn-block text-capitalize">proceed to checkout</button>
                </div>
            </section>
        </div>
    </div>
</div>


