<header ng-include="'templates/include/header.html'"></header>

<div class="container">
    <div class="row checkout_head">
        <h2>Checkout (<span><a ui-sref="cart">{{cartCount}} items</a></span>)</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 checkout_content">
            <section class="row child-base">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <h5 class="text-capitalize"><strong>1 shipping address</strong></h5>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7">
                    <address class="text-capitalize">
                        {{user.name}}callum poole<br>
                        {{user.address.street}}4923 ryan road<br>
                        Rapid City{{user.address.city}}, {{user.address.state}}SD {{user.address.zip}}57702<br>
                    </address>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
                    <button class="btn btn-default btn-xs btn-block text-capitalize">change</button>
                </div>
            </section> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
            <section class="row child-base">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <h5 class="text-capitalize"><strong>2 payment method</strong></h5>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7">
                    <P><strong class="text-capitalize">{{user.cardType}}debit card </strong>ending in {{user.cardNumber}}4865</P>
                    <p><strong class="text-capitalize">billing address: </strong>{{user.billingOption}}same as shipping address. <a href="#billingAddressModal">Change</a></p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
                    <button class="btn btn-default btn-xs btn-block text-capitalize" ng-click="">change</button>
                </div>
            </section> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5 class="text-capitalize"><strong>3 review items</strong></h5>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_review"> <!-- PUT A BORDER AROUND THIS DIV (WITH BORDER-RADIUS) NG-REPEAT(ng-repeat="items in cart") -->
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <img src="{{product.image}}"/><img style="max-width: 100%;" src="/img/preview-small-img4.png"/> <!-- MAYBE MAKE THE HEIGHT STANDARD SO THEY WILL EITHER GO FULL WIDTH OF COLUMN OR MAX-HEIGHT -->
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 checkout_details">
                            <h5><strong>{{product.name}}Everest Multiple Pocket Waist Pack, Black, One Size</strong></h5>
                            <p><strong class="text-danger">${{product.price}}11.45</strong></p>
                            <p><strong>Quantity: </strong>{{product.quantity}}</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <h6 class="text-capitalization"><strong>Choose your delivery option:</strong></h6>
                            <p><span class="text-uppercase">standard: </span><strong>{{delivery.starteDate}}Friday, October 30, 2015 -<br>
                            {{delivery.endDate}}Saturday, October 31, 2015</strong></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 checkout_fixed pull-right"> <!-- PUT A BORDER AROUND THIS DIV (WITH BORDER-RADIUS) AND MAKE IT SCROLL WITH THE PAGE -->
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn btn-warning btn-md btn-block text-capitalize">place your order</button>
                </div>
            </section>
            <section class="row checkout_conditions">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="text-center">By placing your order, you agree to Gwazoo's <a href="/privacy-policy">privacy notice</a> and <a href="/conditions">conditions of use</a>.</p>
                </div>
            </section> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>Order Summary</h4>
                    <div class="parent-row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 checkout_summary">
                            <p>Items ({{cart.quantity}}2):</p>
                            <p>Shipping & Handling:</p>
                            <br>
                            <p>Total before tax:</p>
                            <p>Estimated tax to be collected:*</p>
                            <br>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 checkout_breakdown">
                            <p class="text-right">${{cart.price}}122.51</p>
                            <p class="text-right checkout_shipping">${{shipping.price}}9.00</p> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
                            <br>
                            <p class="text-right">${{cart.subTotal}}131.51</p>
                            <p class="text-right">${{tax}}0.00</p>
                        </div>
                    </div> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
                    <div class="row checkout_total">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <h4 class="red"><strong class="text-danger">Order Total:</strong></h4>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <h4 class="text-right"><strong class="text-danger">${{cart.subTotal}}131.51</strong></h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<footer ng-include="'templates/include/footer.html'"></footer>


