<header ng-include="'templates/include/header.html'"></header>

<div class="container">
    <div class="row checkout_head">
        <h2>Checkout (<span><a ui-sref="cart">{{ cartCount() }} item<span ng-if="cartCount() > 1">s</span></a></span>)</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 checkout_content">
            <section class="row child-base">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h5 class="text-capitalize"><strong>1 shipping address</strong></h5>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
                    <address class="text-capitalize">
                        {{ address.name }}<br>
                        {{ address.address1 }}<br>
                        {{ address.address2 }}, {{ address.state }} {{ address.postalCode }}
                    </address>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                    <button ng-if="user.addresses.length > 0" class="btn btn-primary btn-xs btn-block" ng-click="addressChangeModal()">Change Address</button>
                    <button ng-if="user.addresses.length <= 0" class="btn btn-primary btn-xs btn-block" ng-click="addressAddModal()">Add Address</button>
                </div>
            </section> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
            <section class="row child-base">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h5 class="text-capitalize"><strong>2 payment method</strong></h5>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
                    <form name="shipping" class="form-horizontal" ng-submit="addAddress(address)">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="card-number" class="sr-only control-label">Card Number</label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="cc-number" class="form-control" name="card-number" ng-model="card.number" placeholder="Card Number" required>
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <label for="card-exp-month" class="sr-only control-label">Expiration Date</label>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <input type="cc-exp-month" class="form-control" name="card-exp-month" ng-model="card.expMonth" placeholder="MM" required>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <input type="cc-exp-year" class="form-control" name="card-exp-year" ng-model="card.expYear" placeholder="YY" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="card-code" class="sr-only control-label">Security Code</label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="cc-csc" class="form-control" name="card-code" ng-model="card.code" placeholder="csc" required>
                                </div>
                            </div>
                            <!-- <div class="form-group" ng-class="{ 'has-error': shipping.address-country.$invalid }">
                                <label for="shippingCountry" class="sr-only control-label">Contry</label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="country" class="form-control" name="address-country" ng-model="address.country" placeholder="Country" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': shipping.address-code.$invalid }">
                                <label for="shippingPostalCode" class="sr-only control-label">Postal Code</label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="postal-code" class="form-control" name="address-code" ng-model="address.postalCode" placeholder="Postal Code" required>
                                </div>
                            </div> -->
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="cancel()">Cancel</button>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button type="submit" class="btn btn-success btn-sm btn-block">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- <P><strong class="text-capitalize">{{user.cardType}}debit card </strong>ending in {{ user.cardNumber }}4865</P> -->
                    <!-- <p><strong class="text-capitalize">billing address: </strong>{{ user.billingOption }}same as shipping address. <a href="#billingAddressModal" ng-click="billingAddressModal()">Change</a></p> -->
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                    <button ng-if="user.address" class="btn btn-primary btn-xs btn-block" ng-click="paymentUpdateModal()">Update Payment Info</button>
                    <button ng-if="!user.address" class="btn btn-primary btn-xs btn-block" ng-click="paymentAddModal()">Add Payment Info</button>
                </div>
            </section> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5 class="text-capitalize"><strong>3 review items</strong></h5>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_review" ng-repeat="product in cart.products"> <!-- PUT A BORDER AROUND THIS DIV (WITH BORDER-RADIUS) NG-REPEAT(ng-repeat="items in cart") -->
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <img src="{{product.product.images[0].large.url}}" class="thumbnail" style="max-width: 100%;" /><!-- MAYBE MAKE THE HEIGHT STANDARD SO THEY WILL EITHER GO FULL WIDTH OF COLUMN OR MAX-HEIGHT -->
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 checkout_details">
                            <h5><strong>{{ product.product.name }}</strong></h5>
                            <p><strong class="text-danger">{{ product.product.retailPrice*product.quantity | currency }}</strong></p>
                            <p><strong>Quantity: </strong>{{ product.quantity }}</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <h6 class="text-capitalize"><strong>Choose your delivery option:</strong></h6>
                            <p><span class="text-uppercase">standard: </span><strong class="text-capitalize">{{ delivery.starteDate }} -<br>
                            {{ delivery.endDate }}</strong></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 checkout_fixed pull-right" style="border:1px solid lightgray; border-radius:10px;"> <!-- PUT A BORDER AROUND THIS DIV (WITH BORDER-RADIUS) AND MAKE IT SCROLL WITH THE PAGE -->
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn btn-warning btn-md btn-block text-capitalize">place your order</button>
                </div>
            </section>
            <section class="row checkout_conditions">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="text-center">By placing your order, you agree to Gwazoo's <a href="/privacy-policy">privacy notice</a> and <a href="/conditions">conditions of use</a>.</p>
                </div>
            </section> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>Order Summary</h4>
                    <div class="parent-row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 checkout_summary">
                            <p>Items ({{ cartCount() }}):</p>
                            <p>Shipping & Handling:</p>
                            <br>
                            <p>Total before tax:</p>
                            <p>Estimated tax to be collected:*</p>
                            <br>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 checkout_breakdown">
                            <p class="text-right">{{ cartTotal() | currency }}</p>
                            <p class="text-right checkout_shipping">{{ shippingTotal() | currency}}</p> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
                            <br>
                            <p class="text-right">{{ cartSubTotal() | currency }}</p>
                            <p class="text-right">{{ tax() | currency }}</p>
                        </div>
                    </div> <!-- PUT A BORDER-BOTTOM ON THIS SECTION -->
                    <div class="row checkout_total">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <h4 class="red"><strong class="text-danger">Order Total:</strong></h4>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <h4 class="text-right"><strong class="text-danger">{{ grandTotal() | currency }}</strong></h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<footer class="navbar navbar-fixed-bottom" ng-include="'templates/include/footer.html'"></footer>


