<div class="container">
    <section class="container-fluid">
        <div class="row">
            <h3><b>Thank you</b>, your order has been placed.</h3>
        </div>
        <div class="row panel panel-default confirm_box">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="row parent">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 child-center">
                            <p>We've sent you an e-mail confirmation to: <span class"text-lowercase"><a href="mailto:#">example@gmail.com</a></span>.</p>
                            <ul class="list-unstyled">
                                <li><b>Order Number:</b> #<a href="/order-history/{{order.id}}">{{order.id}}351-9871583-7164285</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 child-base">
                            <h4>Your estimated delivery date is:</h4>
                            {{delivery.starteDate}}Friday, October 30, 2015 -<br>
                            {{delivery.endDate}}Saturday, October 31, 2015
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 child-base">
                            <address class="text-capitalize">
                                <h4>To:</h4>
                                <strong>{{user.name}}callum poole</strong><br>
                                {{user.address.street}}4923 ryan road<br>
                                Rapid City{{user.address.city}}, {{user.address.state}}SD {{user.address.zip}}57702<br>
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 child-base">
                            <p><i class="fa fa-angle-double-right"></i> <a href="/order-history">Review or edit your order</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <div class="bs-example">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#facebook">Facebook</a></li>
                            <li><a data-toggle="tab" href="#twitter">Twitter</a></li>
                            <li><a data-toggle="tab" href="#email">Email</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="facebook" class="tab-pane fade in active">
                                <div class="col-md-12">
                                    <h4>Share with your friends on FACEBOOK</h4>
                                </div>
                            </div>
                            <div id="twitter" class="tab-pane fade">
                                <h3>Share with your friends on TWITTER</h3>
                            </div>
                            <div id="email" class="tab-pane fade">
                                <h3>Share with your friends via EMAIL</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="list-unstyled">
                    <li class="text-capitalize"><h4>order details</h4></li>
                </ul>
                <!-- BORDERBOTTOM: 1PX SOLID LIGHTGRAY -->
                <ul class="list-unstyled">
                    <li>Order #<a href="/order-history/{{order.id}}">{{order.id}}351-9871583-7164285</a></li>
                    <li>Placed on {{order.date}}Wednesday, October 15, 2015</li>
                </ul>
            </div>
        </div>
        <div class="row"> <!-- NG-REPEAT THROUGH THE ITEMS IN THE ORDER -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{{item.img}}"/><img style="max-width: 100%;" src="/img/preview-small-img4.png"/><!-- MAYBE MAKE THE HEIGHT STANDARD SO THEY WILL EITHER GO FULL WIDTH OF COLUMN OR MAX-HEIGHT -->
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <ul class="list-unstyled">
                    <li><a href="">{{item.name}}Really awesome front-loader washing machine</a></li>
                    <li>{{item.category}}Appliences</li>
                    <li><p>{{item.details}}Step up to efficiency, cleaning power and convenience with the 4.3 cu. ft. Kenmore 41162 front-load washer. It has technologies such as Kenmore Connect™, which can troubleshoot some problems over the phone, and Smart Motion™, which uses motions such as rolling, tumbling, saturating and swinging, depending on the cycle you select.</p>
                    <p>This white Kenmore 4116 front-loading washer gives you 8 wash cycles, 5 water temperatures and 6 options—such as Delay Start, Prewash and Extra Rinse—so different fabrics and levels of dirt get the best treatment. It's ENERGY STAR® qualified to save money and energy while conserving natural resources. Its 1,300 RPM maximum spin speed extracts water, so garments need less drying, also saving energy. Sound insulation and an anti-vibration system keep this Kenmore washer quiet, so you can install it near living areas and bedrooms.</p></li>
                </ul>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p><strong>${{item.price}}1,254.51</strong></p>
            </div>
        </div>
    </section>
</div>


