.navbar-brand > img {
	width: 75px;
}

section {
	padding: 50px 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 100px 20px;
}
@media(min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 50px auto;
	}
}

