


/* header */
	.row > div > a > img{
		max-width:100%;
	}
	header{
		margin-top:20px;
		margin-bottom:20px;
	}
	/* main search bar */
	.head_search{ 
		margin-top:16px;
	}
	.head_search > form > input{
		width:85%;
		height:40px;
		padding-left:10px;
		border:1px solid #D7D7D7;
		border-right:none;
        border-radius: 7px 0 0 7px;
	}
	.head_search > form > button{
		width:50px;
		height:40px;
		margin-top:-2px;
		vertical-align: middle;
		background-color:#37B34A;
		color:white;
		border:1px solid #37B34A;
		border-left:none;
		border-radius: 0 7px 7px 0;
	}
	.head_right{
		margin-top:15px;
		vertical-align: middle;
		height:40px;
	}
	.head_right > ul{
		margin-bottom:0px;
		display: inline-block;
		vertical-align: middle;
		margin-top:10px;
		list-style-type: none;
		padding:0;
	}
	.head_right > ul > li {
		border-right:1px solid #D7D7D7;
		padding-right:7px;
		padding-left:7px;
		display: inline-block;
	}
	.head_right > ul > li:last-child {
        border-right: none;
	}
	.head_right ul li a{
		color:#565656;
		text-decoration: none;
	}
/* end of header */


/* main navigation */
	.navbar-inverse{
		background-color:white;
		border-top:1px solid #D7D7D7;
		border-bottom:1px solid #D7D7D7;
		border-left:none;
		border-right:none;
		border-radius:0px;
	}
	.navbar-nav>li:hover{
		background-color:#37b34a;
	}
	.navbar-inverse .navbar-nav>li>a{
		color:#565656;
	}
	.navbar-inverse .navbar-toggle .icon-bar{
		background-color: #565656;
	}
	.navbar-inverse .navbar-toggle{
		border-color:gray;
	}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
		background-color:transparent;
	}
	.navbar-inverse .navbar-collapse{
		border-color:#D7D7D7;
	}
/* end of navigation */

/* main banner */
	.main_banner{
		padding:5% 0 2%;
/*		border-bottom:1px solid #B5B5B5;*/
	}
	.banner_image > img{
		margin-top:-55px;
		max-width:100%;
	}
	.banner_text > a{
		background: #37b34a;
	    display: inline-block;
	    padding: 8px 25px;
	    font-size: 20px;
	    color: white;
	    position: relative;
	    text-decoration: none;
	}
	.banner_text > a:hover{
		background-color:#4ac75e;
	}
/* end of main banner */

/* page content */
	/* 1st block */
	.first_block{
		padding:2em 0;
		background-color:#EFEFEF;
		height:260px; /* remove this after carousel */
	}

	/* 2nd block */
	.page_content{
		padding:0;
		padding-top: 2em;
	}
		/* left */
	.main_left{
		padding-right:2%;
		border-right:1px solid #D7D7D7;
	}
	.main_category{
		padding:0;
	}
	.main_category>ul{
		padding:0;
		list-style-type: none;
	}
	.main_left h3{
		background-color:#37b34a;
		padding:10px;
		font-size:17px;
		color:white;
		font-weight:bold;
	}
	.main_category li a{
		display:block;
		font-size:14px;
		padding:10px 15px;
		color:#9C9C9C;
		border-bottom:1px solid #D6D6D6;
	}
	.main_category li a:hover{
		color:#37b34a;
		text-decoration: none;
	}
	.main_category li:last-child a{
		border:none;
	}
	.main_help{
		padding:0px;
	}
	.main_help p{
		font-size:14px;
		color:#969696;
		line-height:1.4em;
		padding:8px 0;
	}
	.main_help p span{
		color: #FD8730;
    	font-size: 16px;
	}
	.main_ad{
		background:#EFEFEF;
		padding:5%;
		margin-top:25px;
	}
	.banner_desc{
		float:right;
		text-align: right;
	}
	.banner_desc a{
		background-color:#FD8730;
		padding:5px 15px;
		color:white;
	}
	.banner_desc a:hover{
		text-decoration: none;
		background-color: #FFA461;
	}
		/* right */
	.main_right h3{
		background-color: #37b34a;
		padding:10px;
		font-size:17px;
		color:white;
		font-weight:bold;
		margin-bottom:20px;
	}
	.section_group{
		padding:0;
		margin-top:1%;
		margin-bottom:1%;
	}
	.grid_1_of_4{
		text-align: center;
	}
	.grid_1_of_4 h4 a{
		color:#23272a;
		font-size:16px;
		text-decoration: none;
	}
	.price_number p span{
		font-size:22px;
		color:#FD8730;
	}
	.add_cart h4 a{
		font-size:0.85em;
		padding:6px 20px;
		background-color:#37b34b;
		color:white;
		text-decoration: none;
	}
	.add_cart h4 a:hover{
		background-color:#4ac75e;
	}
	.price_details{
		border-top: 1px solid #eee;
		margin-top:10px;
		margin-bottom:10px;
	}
	/* end of 2nd block */
/* end of page content */


/* footer */
footer{
	padding:3% 0;
	border-top: 1px solid #dfdfdf;
}
	/* left */
	.footer_left{

	}
	/* right */
	.footer_right{
		float:right;
		text-align: right;
	}
    .footer_right ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid gray;
    }
    .footer_right ul li:last-child {
        border-right: none;
    }
	.footer_right ul {
		padding:0px;
	}
	.footer_right ul li a {
		text-decoration: none;
		color:black;
	}
	.footer_right ul li a:hover {
		color: #37b34a;
	}
    /* center */
    /*.footer_center ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px;
    }
    .footer_center ul {
        padding: 0px;
    }
    .footer_center ul li a {
        text-decoration: none;
        color: ;
    }
    .footer_center ul li a:hover {
        color: #37b34a;
    }*/

/* end of footer */


@media (min-width: 1400px){
	.container {
	    width: 1400px;
	}
}



.navbar-brand {
    padding: 0 15px;
}

@media only screen and (max-width:768px) {
    .head_right{
    	text-align: left;
    }
    .head_nav_right{
		margin-top:0px;
	}
	.banner_text a{
		font-size:13px;
	}
}

@media only screen and (max-width: 1400px) {
	/* main logo */
	.logo{
		margin-top:7px;
	}
}

@media only screen and (max-width: 1200px) {
   .logo {
		margin-top:12px;
	}
}

@media only screen and (max-width:992px) {


	.main_banner{
		padding:0% 0 2%;
	}
	.banner_image > img{
		margin-top:25px;
		text-align:center;
		max-width:60%;
	}
	.banner_text > h2{
		font-size:20px;
	}
	.footer_right{
		text-align:center;
	}
	.footer_left{
		text-align: center;
	}


}
@media only screen and (max-width: 480px) {

	/* main search bar */
	.head_search > form > input{
		width:75%;
	}
/* main banner */
	.banner_text > h2{
		font-size:20px;
	}
}

@media only screen and (max-width: 400px) {
	.grid_1_of_4 img{
		max-width: 100px;
	}
	.add_cart h4 a{
		font-size: 0.60em;
		padding:6px 13px;
	}
	.banner_text h2{
		font-size:13px;
	}
	.banner_text > p{
		font-size: 12px;
	}
	.banner_text > a{
		padding:8px 15px;
		font-size:10px;
	}

}
