<header ng-include="'templates/include/header.html'"></header>

<section class="page-header container">
    <h1>{{ category }}</h1>
</section>
<section class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search_results">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-repeat="product in products track by product.id" style="border:1px solid lightgray; border-radius:10px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img ng-src="{{ product.images[0].large.url }}" style="width: 100%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h4><a ng-href="product/{{product.sku}}/{{product.id}}">{{ product.name }}</a></h4>
                        <p><del>{{ product.msrp | currency }}</del></p>
                        <p>{{ product.retailPrice | currency }}</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                        <h4>Sku #{{ product.sku }}</h4>
                        <p>{{ product.shortDescription }}</p>
                        <uib-rating ng-model="product.rate" max="5" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three','four','five']" aria-labelledby="default-rating" ></uib-rating>
                        <!-- <p>{{ product.rate }}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer ng-include="'templates/include/footer.html'"></footer>


