<div class="container">
	<section class="page-header">
		<h1>VENDORS CAN ADD A PRODUCT</h1>
		<h2>pretty awesome</h2>
	</section>
	<section flow-init>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="registerProductName" class="col-md-2 col-xs-3 control-label">Product Name</label>
				<div class="col-md-10 col-xs-9">
					<input type="text" class="form-control" id="itemName" name="productname" ng-model="prod.name" placeholder="Product Name">
				</div>
			</div>
			<div class="form-group">
				<label for="registerDescription" class="col-md-2 col-xs-3 control-label">Description</label>
				<div class="col-md-10 col-xs-9">
					<textarea class="form-control" id="itemDescription" name="description" ng-model="prod.description" placeholder="Description" rows="5"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="registerPrice" class="col-md-2 col-xs-3 control-label">Price</label>
				<div class="col-md-10 col-xs-9">
					<input type="text" class="form-control" id="itemPrice" name="price" ng-model="prod.price" placeholder="Price">
				</div>
			</div>
			<div class="form-group">
				<label for="registerSalePrice" class="col-md-2 col-xs-3 control-label">Sale Price</label>
				<div class="col-md-10 col-xs-9">
					<input type="text" class="form-control" id="itemSalePrice" name="salePrice" ng-model="prod.salePrice" placeholder="Sale Price">
				</div>
			</div>
			<div class="form-group">
				<label for="registerImage" class="col-md-2 col-xs-3 control-label">Images</label>
				<span class="col-md-2 col-xs-5 file-input btn btn-primary btn-file">
					Upload an Image<input type="file" multiple id="itemImages" name="image" ng-model="prod.images">
				</span>
				<p class="col-md-4">Only PNG or JPG files allowed.</p>
			</div>
		</form>
		<div class="row">
			<div class="col-md-3 col-md-offset-3 col-xs-6">
				<div class="btn btn-sm btn-block btn-danger" ng-click="cancel()">Cancel</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="btn btn-sm btn-block btn-success" ng-click="addProduct(prod)">Add Product</div>
			</div>
		</div>
	</section>
		<div class="row">
			
		</div>
	<section>
	</section>
</div>