<header ng-include="'templates/include/header.html'"></header>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top:-20px;">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="max-height:300px; width:100%" align="center">
      <img src="img/1.jpg" alt="Flower">
    </div>
    <div class="item" style="max-height:300px; width:100%" align="center">
      <img src="img/2.jpg" alt="Flower">
    </div>
    <div class="item" style="max-height:300px; width:100%" align="center">
      <img src="img/3.jpg" alt="Flower">
    </div>
    <div class="item" style="max-height:300px; width:100%" align="center">
      <img src="img/3.jpg" alt="Flower">
    </div>
  </div>
</div>
<div class="container main_firstrow">
    <!-- <section id="home-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox"> --> <!-- WRAPPER FOR SLIDES -->
            <!-- <div class="item active">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h2 class="text-uppercase"><b>going back to school?</b></h2>
                        <h2 class="text-uppercase"><b>gwazoo has got you covered.</b></h2>
                        <p style="color:gray">Seasonal Blowout Sales on electronics <a href="#">available.</a></p>
                        {{test}}
                        <a href="#">More Info</a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="img/slider-img.png" alt=""> --> <!-- MAX-HEIGHT: 300PX; -->
  <!--                   </div>
                </div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h2 class="text-uppercase"><b>second image title</b></h2>
                        <h2 class="text-uppercase"><b>GWAZOO'S GOT YOU COVERED.</b></h2>
                        <p style="color:gray">Seasonal Blowout Sales on electronics <a href="#">available.</a></p>
                        {{test}}
                        <a href="#">More Info</a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="img/slider-img.png" alt="">
                    </div>
                </div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h2 class="text-uppercase"><b>third image title</b></h2>
                        <h2 class="text-uppercase"><b>GWAZOO'S GOT YOU COVERED.</b></h2>
                        <p style="color:gray">Seasonal Blowout Sales on electronics <a href="#">available.</a></p>
                        {{test}}
                        <a href="#">More Info</a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="img/slider-img.png" alt="">
                    </div>
                </div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </section>  --><!-- /SLIDER -->
    <section class="main_pre">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-2 col-lg-2">
                    <img src="img/pricetag.png">
                </div>
                <div class="col-md-10 col-lg-10">
                    <div>
                        <p><strong>Start your search here!</strong></p>
                    </div>
                    <div>
                        <p>Our competitive price will blow you away all the way to GWAZOO OMG</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-2 col-lg-2">
                    <img src="img/user.png">
                </div>
                <div class="col-md-10 col-lg-10">
                    <div>
                        <p><strong>Introduce Gwazoo to your friends!</strong></p>
                    </div>
                    <div>
                        <p>If you introduce your friends to Gwazoo, then you enable "show me the money" cheat</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="col-md-2 col-lg-2">
                    <img src="img/money.png">
                </div>
                <div class="col-md-10 col-lg-10">
                    <div>
                        <p><strong>Start saving!</strong></p>
                    </div>
                    <div>
                        <p>As you purchase products and introduce your friends, you will enable "POWEROVERWHELMING" cheat in your life.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="container-fluid"> <!-- PRODUCT HIGHLIGHT -->
        <div class="container">
            <h1 class="text-center text-capitalize">start saving on these products</h1>
        </div>
        <div class="row">
            <div class="row"> <!-- SHOULD USE FLEXBOX TO VERTICALLY CENTER THESE https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="list-unstyled parent" style="white-space:nowrap;">
                        <li class="col-xs-6 col-sm-6 col-md-3 col-lg-3 child-center" style="display:inline-block; float:none; max-height:160px;" ng-repeat="product in products | limitTo: 4"> <!-- NG-REPEAT THROUGH TOP PRODUCTS RESTRICT TO 18 ITEMS. -->
                            <a class="thumbnail" href="">
                                <img src="{{product.image}}" style="max-width: 100%;"> <!-- (THE HOVER-STATE SHOULD SHOW INFORMATION ABOUT PRODUCT) -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<section>
        
</section>

<section class="container-fluid main_trending">
    <div class="container">
        <h1 class="text-capitalize">trending items</h1><a href="#">see more</a>
        <div class="container">
    <div class="row">
            <div class="well main_well">
            <!-- Carousel
            ================================================== -->            
            <div id="myCarousel1" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb11"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb12"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb13"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb21"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb22"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb23"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb24"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb31"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb32"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb33"></a>
                            </div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb34"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                
                <ol class="carousel-indicators main_trend_indi">
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                    <li data-target="#myCarousel1" data-slide-to="2"></li>
                </ol>                
            </div><!-- End Carousel --> 
        </div><!-- End Well -->
    </div>
</div>
    </div>
</section>

<section class="container-fluid main_recom">
    <div class="container">
        <h1 class="text-capitalize">recommendations for you</h1><a href="#">see more</a>
        <div class="container">
    <div class="row">
            <div class="well main_well">
            <!-- Carousel
            ================================================== -->            
            <div id="myCarousel2" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb11"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb12"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb13"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb11"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb12"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb13"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb11"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb12"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb13"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="img/slider-img.png" alt="Thumb14"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                
                <ol class="carousel-indicators main_trend_indi">
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                    <li data-target="#myCarousel1" data-slide-to="2"></li>
                </ol>                
            </div><!-- End Carousel --> 
        </div><!-- End Well -->
    </div>
</div>
    </div>
</section>

<section class="container-fluid main_seasonal">
    <div class="container">
        <h1 class="text-capitalize">shop christmas presents</h1>
        <h4>Amazing deals for your loved ones.</h4>
        <div class="col-md-4 col-lg-4">
            <a href="#"><img src="img/christmas.png"></a>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="row main_seasonal_cate">
                <div class="col-md-3 col-md-offset-1 col-lg-3">
                    <a href="#"><img src="img/toys.png"><br>Toys</a>
                </div>
                <div class="col-md-3 col-md-offset-1 col-lg-3">
                    <a href="#"><img src="img/electronics.jpg"><br>Electronics</a>
                </div>
                <div class="col-md-3 col-md-offset-1 col-lg-3">
                    <a href="#"><img src="img/cosmetics.png"><br>Cosmetics</a>
                </div>
            </div>
            <div class="row main_seasonal_cate">
                <div class="col-md-3 col-md-offset-1 col-lg-3">
                    <a href="#"><img src="img/kitchen.jpg"><br>Kitchenwares</a>
                </div>
                <div class="col-md-3 col-md-offset-1 col-lg-3">
                    <a href="#"><img src="img/furniture.png"><br>Furnitures</a>
                </div>
                <div class="col-md-3 col-md-offset-1 col-lg-3">
                    <a href="#"><img src="img/baby.png"><br>Baby</a>
                </div>
            </div>
            <div class="row main_seasonal_cate_button">
                <div class="col-md-3 col-md-offset-5">
                    <a href="#" class="btn" role="button">Browse All Categories</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid main_popular_cate">
    <div class="container">
        <h1 class="text-capitalize">popular searches</h1>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-lg-2">
                <img src="img/baby.png">
            </div>
            <div class="col-md-2 col-lg-2">
                <img src="img/personal-care.png">
            </div>
            <div class="col-md-2 col-lg-2">
                <img src="img/grocery.png">
            </div>
            <div class="col-md-2 col-lg-2">
                <img src="img/electronics.jpg">
            </div>
            <div class="col-md-2 col-lg-2">
                <img src="img/small-appliances.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-lg-2">
                <ul>
                    <li><a href="#"><strong>Baby</strong></a></li>
                    <li><a href="#">Disposable Diapers</a></li>
                    <li><a href="#">Baby Food & Formula</a></li>
                    <li><a href="#">Car Seats</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2">
                <ul>
                    <li><a href="#"><strong>Personal Care</strong></a></li>
                    <li><a href="#">Shampoos</a></li>
                    <li><a href="#">Deodorant</a></li>
                    <li><a href="#">Oral Care</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2">
                <ul>
                    <li><a href="#"><strong>Grocery</strong></a></li>
                    <li><a href="#">Beverage</a></li>
                    <li><a href="#">Snack Foods</a></li>
                    <li><a href="#">Dry Goods & Pasta</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2">
                <ul>
                    <li><a href="#"><strong>Electronics</strong></a></li>
                    <li><a href="#">TVs</a></li>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Phone Accessories</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2">
                <ul>
                    <li><a href="#"><strong>Small Appliances</strong></a></li>
                    <li><a href="#">Coffee Makers</a></li>
                    <li><a href="#">Toasters</a></li>
                    <li><a href="#">Blenders</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>









<!-- <div class="container">
    <section class="page_content container row">
        <div class="main_left col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="main_category">
                <ul>
                    <h3><i class="fa fa-caret-right"></i> Popular Searches</h3>
                    <li><a href="#">Appliances</a></li> 
                    <li><a href="#">Sports Equipments</a></li>
                    <li><a href="#">Computers & Electronics</a></li>
                    <li><a href="#">Office supplies</a></li>
                    <li><a href="#">Health & Beauty</a></li>
                    <li><a href="#">Home & Garden</a></li>
                    <li><a href="#">Apparel</a></li>
                    <li><a href="#">Toys & Games</a></li>
                    <li><a href="#">Automotive</a></li>
                </ul>
            </div>
            <div class="main_help">
                <h3><i class="fa fa-caret-right"></i> Need Help?</h3>
                <p><span>We want your shopping experience to be easy.</span></p>
                <p>We are committed to give you all the support you need to make the right decision with minimum fuss. Let Gwazoo know!</p>
            </div>
            <div class="main_ad">
                <img src="img/question.png" alt="" />
                <div class="banner_desc">
                    <h4>Contact Us</h4>
                    <a href="#">More Info</a>
                </div>
            </div>
            <div class="main_ad">
                <img src="img/ear.png" alt="">
                <div class="banner_desc">
                    <h4>Suggestions?</h4>
                    <a href="#">More Info</a>
                </div>
            </div>
        </div>

        <div class="main_right col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">
            <h3 class="text-capitalize"><i class="fa fa-caret-right"></i> Trending Items</h3>
            <div class="section_group parent">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 child" ng-repeat="product in products | limitTo: 8">
                    <h4 class="text-capitalize"><a href="#">{{product.name}}</a></h4>
                    <a href="/product/:slug?/:sku?/:id">
                        <img src="{{product.image}}">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p class="text-right"><span>${{product.price}}</span></p>
                        </div>
                        <div class="add_cart">
                            <a href="" class="btn btn-sm btn-success btn-block text-uppercase">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_right col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">
            <h3 class="text-capitalize"><i class="fa fa-caret-right"></i> Recommendations for You</h3>
                <div class="section_group parent">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 child" ng-repeat="product in products | limitTo: 4">
                    <h4 class="text-capitalize"><a href="#">{{product.name}}</a></h4> 
                    <a href="/product/:slug?/:sku?/:id">
                        <img src="{{product.image}}">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p class="text-right"><span>${{product.price}}</span></p>
                        </div>
                        <div class="add_cart">
                            <a href="" class="btn btn-sm btn-success btn-block text-uppercase">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_right col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">
            <h3 class="text-capitalize"><i class="fa fa-caret-right"></i> Recently viewed items</h3>
            <div class="section_group parent">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 child" ng-repeat="product in products | limitTo: 4">
                    <h4 class="text-capitalize"><a href="#">{{product.name}}</a></h4>
                    <a href="/product/:slug?/:sku?/:id">
                        <img src="{{product.image}}">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p class="text-right"><span>${{product.price}}</span></p>
                        </div>
                        <div class="add_cart">
                            <a href="" class="btn btn-sm btn-success btn-block text-uppercase">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.right -->
    </section> <!-- /.2nd block -->
</div>

<!-- footer -->
<footer ng-include="'templates/include/footer.html'"></footer>

