<section class="main_banner container"> <!-- main banner -->
    <div class="banner_text col-xs-6 col-md-6">
        <h2><b>GOING BACK TO SCHOOL?<br>GWAZOO'S GOT YOU COVERED.</b></h2>
        <p style="color:gray">Seasonal Blowout Sales on electronics <a href="#">available.</a></p>
        <br>
        <a href="#">More Info</a>
    </div>
    <div class="banner_image col-xs-6 col-md-6" align="center">
        <img src="img/slider-img.png" alt="">
    </div>
</section> <!-- /.container --> <!-- /.main banner -->
<section> <!-- page content -->
    <section class="first_block container-fluid"> <!-- 1st block -->
        <div class="container">
            <h3>Latest Products</h3>
        </div>
        <div class="item_slider">
        </div>
    </section> <!-- /. 1st block -->

    <section class="page_content container"> <!-- 2nd block -->
        <div class="main_left col-xs-12 col-md-3"> <!-- left -->
            <div class="main_category col-xs-12">
                <ul>
                    <h3><i class="fa fa-caret-right"></i> Browse All Categories</h3>
                    <li><a href="#">Appliances</a></li>
                    <li><a href="#">Sports Equipments</a></li>
                    <li><a href="#">Computers & Electronics</a></li>
                    <li><a href="#">Office supplies</a></li>
                    <li><a href="#">Health & Beauty</a></li>
                    <li><a href="#">Home & Garden</a></li>
                    <li><a href="#">Apparel</a></li>
                    <li><a href="#">Toys & Games</a></li>
                    <li><a href="#">Automotive</a></li>
                </ul>
            </div>
            <div class="main_help col-xs-12">
                <h3><i class="fa fa-caret-right"></i> Need Help?</h3>
                <p><span>We want your shopping experience to be easy.</span></p>
                <p>We are committed to give you all the support you need to make the right decision with minimum fuss. Let Gwazoo know!</p>
            </div>
            <div class="main_ad col-xs-12">
                <img src="img/question.png" alt="" />
                <div class="banner_desc">
                    <h4>Contact Us</h4>
                    <a href="#">More Info</a>
                </div>
            </div>
            <div class="main_ad col-xs-12">
                <img src="img/ear.png" alt="">
                <div class="banner_desc">
                    <h4>Suggestions?</h4>
                    <a href="#">More Info</a>                
                </div>
            </div>
        </div><!-- /. left -->

        <div class="main_right col-xs-12 col-md-9"> <!-- right -->
            <h3><i class="fa fa-caret-right"></i> Trending Items</h3>
            <div class="section_group col-xs-12 col-md-12">
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_group col-xs-12 col-md-12">
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_group col-xs-12 col-md-12">
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
                <div class="grid_1_of_4 col-xs-6 col-md-3">
                    <h4><a href="#">Toshiba Satellite Laptop...</a></h4>
                    <a href="preview.html">
                        <img src="img/product-img1.png">
                    </a>
                    <div class="price_details">
                        <div class="price_number">
                            <p><span>$299.99</span></p>
                        </div>
                        <div class="add_cart">
                            <h4><a href="#">More Info</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12"> <!-- recommendations for you -->
                <h3><i class="fa fa-caret-right"></i> Recommendations for You</h3>
            </div>
            <div class="col-xs-12"> <!-- related to items you've viewed -->
                <h3><i class="fa fa-caret-right"></i> Related to Items You've Viewed</h3>
            </div>
        </div> <!-- /. right -->
    </section> <!-- /. 2nd block -->
</section> <!-- /. page content -->


