<div class="container">
	<section class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{active: $last}">
                        <a ng-if="!$last" ng-href="{{breadcrumb.path}}" ng-bind="breadcrumb.label" class=""></a>
                        <span ng-if="$last" ng-bind="breadcrumb.label"></span>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="list-inline">
                            <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="data in item.images | limitTo: 1">
                                <img class="thumbnail" data-toggle="magnify" src="{{data.large.url}}" style="width: 100%;"/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="list-inline">
                            <li class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-repeat="data in item.images">
                                <img class="thumbnail" data-toggle="magnify" src="{{data.small.url}}" style="width: 100%;"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1 class="text-capitalize">{{product.name}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three','four','five']" aria-labelledby="default-rating" ></uib-rating>
                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly" >{{percent}}%</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <h5>Retail Price:</h5>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                        <h5><s class="text-muted">${{product.retailPrice}}</s></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <h5>Price:</h5>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
                        <h5><strong>${{product.supplyPrice}}</strong></h5>
                        <input type="hidden" ng-model="item.supplyPrice" value="{{product.supplyPrice}}">
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <h5 class="text-right text-danger">You Save <strong>${{product.retailPrice-product.supplyPrice | number:2}} ({{((product.supplyPrice/product.retailPrice)*100) | number:0}}%)</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <form name="myForm">
                        <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="colors-share">
                                    <div class="color-types">
                                        <div class="checkbox-buttons">
                                            <ul class="list-inline" ng-repeat="option in product.optionSet.options | filter:{name:'color'}">
                                                <li ng-repeat="color in otion">
                                                    <input id="color{{color.name}}" name="colorOption" type="radio"><label for="color{{color.name}}" class="grey"> </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="" ng-repeat="option in product.optionSet.options">
                                    <label class="sr-only">Available {{option.name}}</label>
                                    <select class="form-control" name="options" ng-model="item.options">
                                        <option value="{{optionVar}}" ng-repeat="optionVar in option.variations">{{optionVar}}</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="" ng-repeat="option in options" ng-init="optionNumber = $index">
                                    <label>Available {{option.name}}s</label>
                                    <select class="form-control" name="itemOptions[{{option.name}}]" ng-model="itemOptions.options[optionNumber]" ng-options="optionVar.value disable when optionVar.disabled for optionVar in option.variations track by optionVar.value">
                                        <option value="">-- choose {{option.name}} --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <label>Quantity: </label>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <input class="form-control" type="number" value="{{product.minQuantity}}" min="{{product.minQuantity}}" max="{{product.maxQuantity}}" ng-model="item.quantity"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <button class="btn btn-success btn-block" ng-click="add(item)">Add to Cart</button>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <button class="btn btn-primary btn-block" ng-click="wishlist(item)">Add to Wishlist</button>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <button class="btn btn-warning btn-block" ng-click="add(item)">Buy Now</button>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>{{item.description}}</p>
                    </div>
                </div>


                <div class="available">
                    <ul>
                        <li><span>Units in Stock: </span>{{product.stockQuantity}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <uib-tabset justified="true">
                    <uib-tab heading="Item Details">
                        {{item.description}}
                    </uib-tab>
                    <uib-tab heading="Customer Reviews">
                        {{product.modified}}
                    </uib-tab>
                    <uib-tab heading="Q & A">
                        {{product.shippingType}}
                    </uib-tab>
                    <uib-tab heading="Return & Exchange">
                        {{product.msrp}}
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </section>
</div>


