<div class="container">
	<section class="page-header">
		<h1>REGISTER & MAKE MONEY</h1>
	</section>
	<section>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="registerUserName" class="col-md-2 control-label">Username</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="registerUserName" name="username" ng-model="user.username" ng-model-options="{ debounce : 500 }" ng-change="checkUsername(user.username)" placeholder="User Name">
				</div>
				<!--PLACEHOLDER ALERT-->
				<p style="padding-top:10px;">{{ check }}</p>
				<!--END PLACEHOLDER-->
			</div>
			<div class="form-group">
				<label for="registerFirstName" class="col-md-2 control-label">First Name</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="registerFirstName" name="firstName" ng-model="user.firstName" placeholder="First Name">
				</div>
			</div>
			<div class="form-group">
				<label for="registerLastName" class="col-md-2 control-label">Last Name</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="registerLastName" name="lastName" ng-model="user.lastName" placeholder="Last Name">
				</div>
			</div>
			<div class="form-group">
				<label for="registerEmail" class="col-md-2 control-label">Email</label>
				<div class="col-md-10">
					<input type="email" class="form-control" id="registerEmail" name="email" ng-model="user.email" placeholder="Email Address">
				</div>
			</div>
			<div class="form-group">
				<label for="registerPassword" class="col-md-2 control-label">Password</label>
				<div class="col-md-10">
					<input type="password" class="form-control" id="registerPassword" name="password" ng-model="user.password" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<label class="col-md-2 control-label">Account Type</label>
					<div class="col-md-2">
						<label class="radio-inline">
							<input type="radio" name="userType" name="type" ng-model="user.type" value="member" checked>Member
						</label>
					</div>
					<div class="col-md-2">
						<label class="radio-inline">
							<input type="radio" name="userType" name="type" ng-model="user.type" value="vendor">Vendor
						</label>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-6">
				<div class="btn btn-sm btn-block btn-danger" ng-click="cancel()">Cancel</div>
			</div>
			<div class="col-md-6">
				<div class="btn btn-sm btn-block btn-success" ng-click="register(user)">Register</div>
			</div>
			<div>{{ result }}</div>
		</div>
	</section>

	<section>
		
	</section>
</div>