<header>
    <div class="container">
        <div class="row">
            <div class="logo col-xs-12 col-md-2" align="center">
                <a href="/"><img src="/img/logo.png" alt="Gwazoo"></a>
            </div>
            <div class="head_search col-xs-12 col-md-7" align="center">
                <form>
                    <input type="text" placeholder="Search Gwazoo..."><button class="header_search_btn"><i class="fa fa-search fa-2x"></i></button>
                </form>
            </div>
            <div class="head_right col-xs-12 col-md-3" align="right">
                <ul>
                    <li><a href="#">Cart: {{cartCount}}</a></li>
                    <li ng-show="!session"><a href="#" ng-click="loginModal()">Login</a></li>
                    <li ng-show="!session"><a href="/register">Register</a></li>
                </ul>
                <ul>
                    <li ng-show="session" class="dropdown">
                        <a href="#" class="dropdown-toggle text-capitalize" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session.firstName}}'s Account <span class="caret"></span></a>
                        <ul class="dropdown-menu"> 
                            <li><a ui-sref="account.admin">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ui-sref="account.orders">Orders</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/wishlist">Your Wishlist</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-click="logout()"><a href="">Logout</a></li>
                        </ul>
                    </li>
                    <li ng-show="session"><a href="#"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
                        <ul class="dropdown-menu">  <!-- NG_REPEAT THROUGHT THESE -->
                            <li ng-repeat="category in categories"><a ng-href="/category/{{category.slug}}/{{category.id}}">{{category.name}}</a></li>
                        </ul>
                    </li>
                    <li><a href="/category/{{category.slug}}">beauty</a></li>
                    <li><a href="/category/{{category.slug}}">health</a></li>
                    <li><a href="/category/{{category.slug}}">electronics</a></li>
                    <li><a href="/category/{{category.slug}}">sporting</a></li>
                    <li><a href="/category/{{category.slug}}">games</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>


